
body{ background: #000; }
*{ margin:0; padding: 0; list-style: none; }
.box{ width: 133px; height: 200px; position: absolute; top:50%; left:50%; margin-top: -200px; margin-left: -65px; transform-style: preserve-3d; transform: rotateX(-20deg);}
.box li{ width: 133px; height: 200px; transition: 1s all ease; position: absolute; box-shadow: 0 0 20px #fff; -webkit-box-reflect:below 10px -webkit-linear-gradient(bottom,rgba(0,0,0,0.2),rgba(0,0,0,0)20%);  }
